
{{#each this}}
<div class="country-img-top">
    <img src={{this.flags.svg}} height="150" alt="{{this.name.common}}">
</div>
<div class="country-body">
    <h2 class="country-title">Country: {{this.name.official}} </h2>
    <p class="country-text">Population: {{this.population}} </p>
    <p class="country-text">Capital: {{this.capital}} </p>
    <p class="country-text">Languages: {{#each languages}}{{this}},{{/each}}</p>
</div>
</div>
{{/each}}