

<img class="country__info__flag" src={{flags.svg}} height="150" alt="{{name.common}}">

<li class="country__info__title"> {{name.official}} </li>
<li class="country__info__data"><span class="country__info__text">Capital:</span> {{capital}} </li>
<li class="country__info__data"><span class="country__info__text">Population:</span> {{population}} people </li>
<li class="country__info__data"><span class="country__info__text">Languages:</span> {{languages}}</li>
<li class="country__info__data"><span class="country__info__text"><a href="{{maps.googleMaps}}">Se on
            map</a></span> </li>

