

{{#each this}}
<div class="card__item">
    <a class="card__img-thumb" href={{this.largeImageURL}}  >
        <img loading="lazy" class="card__img" data-source={{this.largeImageURL}} src={{this.webformatURL}} data="Author: {{this.user}}" width="270" height="150" alt={{this.tags}}>
    </a>
    <ul class="card__meta">
        <li class="card__data"><b><svg class="label__icon" width="20" height="20">
            <use href="/goit-js-hw-11/symbol-defs.5de371c6.svg#icon-likes"></use>
        </svg></b>{{this.likes}}</li>
        <li class="card__data"><b><svg class="label__icon" width="20" height="20">
            <use href="/goit-js-hw-11/symbol-defs.5de371c6.svg#icon-views"></use>
        </svg></b>{{this.views}}</li>
        <li class="card__data"><b><svg class="label__icon" width="20" height="20">
            <use href="/goit-js-hw-11/symbol-defs.5de371c6.svg#icon-comments"></use>
        </svg></b>{{this.comments}}</li>
        <li class="card__data"><b><svg class="label__icon" width="20" height="20">
            <use href="/goit-js-hw-11/symbol-defs.5de371c6.svg#icon-download"></use>
        </svg></b>{{this.downloads}}</li>
    </ul>
</div>
{{/each}}


