


<ul class="card__list">
    {{#each this}}
    <li class="card__item">
        <img class="card__img" src={{this.webformatURL}} width="270" alt="this.tags">
        <ul class="card__meta">
            <li class="card__data">Likes:{{this.likes}}</li>
            <li class="card__data">Views{{this.views}}</li>
            <li class="card__data">comments{{this.comments}}</li>
            <li class="card__data">Downloads{{this.downloads}}</li>
        </ul>
{{/each}}
</ul>

