{{#each this}}

<img class="country__info__flag" src={{this.flags.svg}} height="150" alt="{{this.name.common}}">

<li class="country__info__title"> {{this.name.official}} </li>
<li class="country__info__data"><span class="country__info__text">Capital:</span> {{this.capital}} </li>
<li class="country__info__data"><span class="country__info__text">Population:</span> {{this.population}} people </li>
<li class="country__info__data" id="language"><span class="country__info__text">Languages:</span> {{#each
    languages}}{{this}}, {{/each}}</li>
<li class="country__info__data"><span class="country__info__text"><a href="{{this.maps.googleMaps}}">Se on map</a></span>  </li>
{{/each}}

